@model Videoo.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<h5>Genre: @Model.Genre.Name</h5>
<h5> Release Date: @Model.ReleaseDate</h5>
<h5>Date Added To Database: @Model.AddedToDatabase</h5>
<h5>No. In Stock: @Model.NumberInStock</h5>

