@model Videoo.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.customer != null)
{
    <h2>Edit Customer</h2>
}
else
{
    <h2>New Customer</h2>

}

@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.customer.Name)
        @Html.TextBoxFor(m => m.customer.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.customer.Birthday)
        @Html.TextBoxFor(m => m.customer.Birthday, "{0:d MMM yyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.customer.IsSubscribedToNewsletter) Subscribe to Newsletter?
        </label>
    </div>

    @Html.HiddenFor(m => m.customer.Id)

    <button type="submit" class="btn btn-primary"> Save</button>

}

